@import 'typographic'



body
  position absolute
  display block
  width 100vw
  height 100%
  margin 0
  padding 0
  overflow hidden

  > #root, & > #root > #App
    position relative
    display block
    width 100%
    height 100%

  > #root > #App
    overflow hidden
    background #051F3A

    > #logo
      position absolute
      transform translate3d(-50%, -50%, 0)
      width 15vw
      height auto
      top 50%
      left 50%

      > img
        width 100%

      &.mobile
        width 50vw

    > #layout
      min-width 960px
      overflow-x auto
      // transition .3s

      &.hidden
        opacity 0
        pointer-events none
        // transition .3s

      &.mobile
        min-width 100%
        overflow-x hidden
        font-size 80%

        #layout
          height auto

        > #no_mobile
          position absolute
          transform translate3d(-50%, -50%, 0)
          top 50%
          left 50%
          width 90%
          text-align center

          > h2
            color white

          > #log_out
            position relative
            margin 0
            font-size 80%
            text-align center
            color white
            text-decoration underline
            font-weight 400
            opacity .6

    @import './imports/ui/shape/global.styl'
    @import './imports/ui/shape/fonts.styl'
