@import 'typographic'



#ModalMembership
  position fixed
  width 100%
  height 100%

  > #offer
    position absolute
    z-index 3
    width 100%
    bottom 0
    padding 12vh 12% 8vh
    box-sizing border-box
    background linear-gradient(bottom, white 80%, transparent)
    text-align center

    > h3
      margin 0
      text-align center !important
      letter-spacing .5px !important
      font-weight bold !important

    > h2
      margin 1.5em 0 !important
      font-size 120% !important
      text-align center !important
      letter-spacing .5px !important
      font-weight bold !important
      color #5fca85 !important

  > #layout
    height auto
    padding 32px 32px 0
    box-sizing border-box

    > #content
      position relative
      width 100%
      height 100%
      margin 0
      padding 0 10% 5em
      box-sizing border-box
      overflow-y auto

      > #response

        > #content
          position relative
          width 100%
          margin 1.5em 0
          padding 2.5em 0 2.5em
          border-radius 6px
          box-sizing border-box
          background white
          text-align center

          > #icon
            position absolute
            width 56px
            height 56px
            top 2em
            right 0
            background url('/img/icons/cruise.png') center/contain no-repeat

            &.ski
              background-image url('/img/icons/ski.png')

          > #title
            position relative
            width 100%
            text-align left
            text-transform uppercase
            font-size 120%

          > #details
            position relative
            width 100%
            text-align left

            > #price
              margin 3em 0
              font-size 110%

              > span
                color #6AA3D7
                font-weight bold
                letter-spacing .5px

            > #supplier
              margin 3em 0

              > #label
                font-size 110%

              > #data
                font-size 110%
                color #6AA3D7

            > #comment
              margin 3em 0

              > #label
                font-size 110%

              > #data
                font-size 80%
                opacity .8
                letter-spacing .3px
                white-space pre-line

          > #right
            position absolute
            top 7.5em
            right 0
            text-align right

            > #cashback
              text-align right

              > h2
                display inline-block
                margin 0 0 6px
                padding 3px 6px
                box-sizing border-box
                border 1px solid #72BD8F
                border-radius 4px
                font-size 90%

                > span
                  color #72BD8F
                  letter-spacing .3px

              > p
                margin 0
                font-size 70%
                opacity .6

            > #badge
              display inline-block
              width 72px
              height 72px
              margin-top 2em
              background url('/img/pictures/badge.png') center/contain no-repeat
              transform rotate(16deg)
              border-radius 50%

          > #payment_method, & > #cashback_method
            margin 4em 0 3em
            text-align left
            filter blur(1px)

            > #label
              font-size 110%

            > #list
              position relative
              width 100%

              > .element
                position relative
                display inline-block
                vertical-align middle
                width calc(50% - .75em)
                margin 0 1.5em 1em 0
                padding 1.5em
                box-sizing border-box
                background white
                box-shadow 0 0 .75em rgba(0, 0, 0, .05)
                border-radius 6px
                text-align center
                transition .1s

                &:nth-child(even)
                  margin-right 0

                &:last-of-type
                  margin-right 1.5em

                &:not(.active):hover
                  transform scale(1.05)
                  transition .1s

                &:not(.active):active
                  transform scale(1)
                  transition .1s

                > h2
                  position relative
                  display inline-block
                  vertical-align middle
                  margin 0
                  margin-right 1em
                  line-height 24px
                  font-size 100%

                  &#account, &#address
                    letter-spacing 2px

                > #select
                  position relative
                  float right
                  width 24px
                  height 24px
                  border-radius 50%
                  background #DADBDC
                  box-shadow inset 0 0 0 3px white
                  border 1px solid #DADBDC

                &.active > #select
                  background #6AA3D7
                  border 1px solid #6AA3D7

              > #add_payment_method
                position relative
                display inline-block
                vertical-align middle
                width auto
                margin-bottom 1em
                padding 0 1.5em
                box-sizing border-box
                border 2px solid #C5CACA
                border-radius 8px
                text-align center
                transition .1s

                > p
                  font-weight bold
                  text-transform uppercase
                  color #C5CACA
                  transition .1s

                &:hover
                  border-color #6AA4D6
                  transition .1s

                  > p
                    color #6AA4D6

          > #cashback_method

            > #label
              transition .2s

              &.invalid
                color #E06565
                transition .2s

            #error
              position absolute
              transform translateX(-50%)
              bottom -3em
              opacity 1
              width 100%
              left 50%
              margin 0
              color #EF8884
              text-align center
              font-size 80%
              transition .2s

              &.hidden
                bottom -4em
                opacity 0
                transition .2s

            > #list

              > .element

                > #icon
                  float left
                  width 30px
                  height 30px
                  margin-right 12px
                  background url('/img/icons/bank_account.png') center/contain no-repeat

                  &.address
                    background-image url('/img/icons/check.png')

                > p
                  margin 0 0 4px
                  text-align left
                  line-height 10px
                  font-size 80%
                  font-weight bold
                  color #E18D87
                  text-transform uppercase

                  &.address
                    color #5CA4D4

                > h2
                  position relative
                  display block
                  margin 0
                  text-align left
                  line-height 16px
                  letter-spacing 1px !important

                > #select
                  position absolute
                  right 1.5em
                  top 1.5em

      > #form
        border-radius 8px
        padding-bottom 3em



  &.mobile

    > #offer

      > h2
        margin 1em 0 !important

    > #layout
      height 100% !important
      padding 64px 0 0

      > #content
        padding 0 8% 5em

        > #response

          > #content
            margin 1em 0
            padding 0
            border-radius 0
            background none
            box-shadow none

            > #icon
              width 40px
              height 40px
              top -8px
              right 0

            > #details

              > #price
                margin 2em 0

              > #supplier
                margin 2em 0

              > #comment
                margin 2em 0

            > #right
              position relative
              width 100%
              top 0
              left 0
              margin 2em 0
              text-align center

              > #cashback
                width calc(100% - 52px)
                text-align left

              > #badge
                position absolute
                top -6px
                right 0
                width 52px
                height 52px
                margin-top 0

            > #payment_method, & > #cashback_method
              margin 3em 0

              > #list
                text-align center

                > .element
                  width 100%

                  &:hover
                    transform scale(1)

                  &:active
                    transform scale(.95)

                > #add_payment_method
                  margin-bottom 0
                  padding 0 2em

                  &:hover
                    border-color #C5CACA

                    > p
                      color #C5CACA

                  &:active
                    border-color #6AA4D6

                    > p
                      color #6AA4D6
