@import 'typographic'



#AdminSubscribers
  position relative
  width 100%
  height 100%

  > #layout
    padding 5% 7.5%
    box-sizing border-box

    > #header
      position relative
      width 100%
      text-align center

      > *
        position relative
        display inline-block
        vertical-align middle

      > .stats
        text-align center
        margin-right 4em

        &:last-of-type
          margin-right 0

        > #data
          margin 0
          line-height 42px
          color #525252

        > #label
          margin 0
          text-transform uppercase
          font-size 70%
          line-height 15px
          opacity .6
          letter-spacing 1.5px

        > #icon
          width 30px
          height 30px
          background url('/img/icons/silver_coin.png') center/contain no-repeat

        &#gold > #icon
          background-image url('/img/icons/gold_coin.png')

        &#total > #data
          color #6AA3D7

        &#emails > #data
          color #6AA3D7

        &#income > #data
          color #11CD7E

    > #search
      position relative
      width 100%
      margin 4em 0 2em
      padding 0 20%
      box-sizing border-box

      > input
        width 100%

    > #list, & > #emails_list
      position relative
      margin 3em 0
      padding 0 5%

      > h2
        text-align left
        margin 4em 0 2em
        border-bottom 1px solid #525252
        font-size 100%
        text-transform uppercase
        opacity .6
        letter-spacing 1px

      > #empty
        position relative
        width 100%
        margin-top 4em
        text-align center

        > h2
          margin-bottom 1em
          font-weight bold

      > .user, & > .email
        position relative
        display inline-block
        vertical-align middle
        width 30%
        margin 1.5% calc(10% / 6)
        overflow hidden

        > h2
          position relative
          display inline-block
          width auto
          margin 0 auto
          font-size 100%
          font-weight bold
          text-decoration underline
          transition .1s

          &:hover
            color #77A2D2 !important
            text-decoration none
            transition .1s

          &:active
            transform scale(.95)
            transition .1s

        &.silver > h2
          color #8E8F90

        &.gold > h2
          color #D8A855

      > .email > h2
        color #525252
        text-decoration none

        &:hover
          color #525252 !important

        &:active
          transform scale(1)
