@import 'typographic'



#MyMembership
  position relative
  width 100%
  height 100%

  > #layout
    padding 5% 7.5%
    box-sizing border-box
    background white

    > #header
      position relative
      width 100%

      > *
        position relative
        display inline-block
        vertical-align top
        width 50%

      > #logo
        text-align left

        > img
          width 210px

      > #total_saving
        text-align right

        > p
          position absolute
          top -26px
          right 0
          margin 0
          line-height 20px
          font-size 85%

        > #label
          margin 0 0 .3em
          text-transform uppercase
          font-size 100%
          opacity .6
          letter-spacing 1.5px

        > #amount
          margin 0
          color #6AA3D7

        > .near
          color #D6B347 !important

        > .full
          color #E05050 !important

    > #content
      position relative
      padding 2em 15%
      box-sizing border-box

      &.not_member
        margin 2em
        padding 3em 10% 4em
        border-radius 8px
        // background rgba(0,0,0,0.2)
        text-align center

        > *.transparent
          opacity .1

        > h2
          position relative
          width 100%
          margin 0
          text-align center

        > button
          width 70%
          border-radius 0 0 8px 8px

        > #response
          position absolute
          z-index 3
          width 100%
          height 100%
          top 0
          left 0

          > #loading
            position absolute
            width 56px
            height 56px
            top 50%
            left 50%
            background none !important
            transition .2s
            animation loading 1s infinite

            &:before
              content ''
              position absolute
              width 16px
              height 16px
              background #6AA3D7
              bottom 4px
              right 4px
              border-radius 50%

            &:after
              content ''
              position absolute
              width 16px
              height 16px
              background #6AA3D7
              top 4px
              left 4px
              border-radius 50%

            @keyframes loading {
              0% {
                transform translate3d(-50%, -50%, 0) rotate(0)
              }
              100% {
                transform translate3d(-50%, -50%, 0) rotate(360deg)
              }
            }

          > p
            position absolute
            transform translateY(-50%)
            width 100%
            top 50%
            margin 0
            padding 0 4em
            box-sizing border-box
            color white
            text-align center

      > #plan
        position relative
        width 100%
        padding 3em 5em
        box-sizing border-box
        background white
        box-shadow 0 0 1.5em rgba(0, 0, 0, .05)
        border-radius 8px

        &.not_member
          // background rgba(0, 0, 0, .2)
          margin 0 0 4em
          padding 4em 0

          > h2
            margin 0

          > button
            width 70%
            border-radius 0 0 8px 8px

        > #upgrade
          position absolute
          width 128px
          height 64px
          top 0
          right 0
          background url('/img/pictures/upgrade.png') top right/contain no-repeat
          transition .1s

          &:hover
            transform scale(1.1)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

        > #left, & > #right
          position relative
          display inline-block
          vertical-align middle

        > #left
          width 40%

          > #icon
            position relative
            width 86px
            height 86px
            background url('/img/icons/silver_coin.png') center/contain no-repeat

            &.gold
              background-image url('/img/icons/gold_coin.png')

            &.black
              background-image url('/img/icons/diamond.png')

        > #right
          width 60%
          text-align right

          > h1
            font-size 300%
            color #6AA3D7
            font-weight bold

            > span
              font-family $futura
              font-size 80%
              color #6AA3D7

          > p
            font-family $futura
            font-weight bold

      > #options
        position relative
        width 100%
        margin 1.5em 0 3em

        > #left, & > #right
          position relative
          display inline-block
          vertical-align middle
          width 50%

        > #left

          > #label
            margin 0
            opacity .6
            font-size 110%

          > #value
            margin .2em 0 0
            letter-spacing 2px

        > #right
          text-align right

          > button
            font-size 70%

      > #credit_cards
        position relative
        width 100%

        > h2
          margin 0
          opacity .6
          font-size 110%

        > .card
          position relative
          width 100%
          margin 1.5em 0
          padding 3em
          box-sizing border-box
          background white
          box-shadow 0 0 1.5em rgba(0, 0, 0, .05)
          border-radius 8px

          > #default
            position absolute
            right 3em
            top 3em
            padding 6px 16px
            box-sizing border-box
            border-radius 8px
            background #525252

            > p
              font-size 70%
              font-weight bold
              text-transform uppercase
              color white

          > #options
            position absolute
            right 3em
            top 3em
            text-align right

            > p
              margin .25em 0
              font-size 70%
              font-weight bold
              text-transform uppercase
              text-decoration underline
              color #525252
              letter-spacing .5px
              opacity .5
              transition .1s

              &:hover
                text-decoration none
                opacity 1
                transition .1s

              &:active
                transition .1s

              &#remove
                color #CF5A55

          > #icon
            width 86px

            > img
              width 100%

          > #number
            position relative
            width 100%
            margin 3em 0

            > h1
              position relative
              display inline-block
              vertical-align middle
              width 25%
              color #6AA3D7
              text-align center

          > #left, & > #right
            position relative
            display inline-block
            vertical-align middle

            > #label
              margin 0
              opacity .6
              font-size 80%
              font-weight 400
              letter-spacing 1px

            > #value
              margin .3em 0 0
              color #6AA3D7
              text-transform uppercase

          > #left
            width 70%

          > #right
            width 30%
            text-align right

        > #add_credit_card
          position relative
          width 100%
          margin 2em 0
          padding 2em
          box-sizing border-box
          border 2px solid #C5CACA
          border-radius 8px
          text-align center
          transition .1s

          > p
            font-weight bold
            text-transform uppercase
            color #C5CACA
            transition .1s

          &:hover
            border-color #6AA4D6
            transition .1s

            > p
              color #6AA4D6

        > #credit_card_form
          position relative
          width 100%
          margin 0 auto
          padding 10% 15%
          box-sizing border-box
          border-radius 8px
          background white
          box-shadow 0 0 1.5em rgba(0, 0, 0, .05)

          > *.transparent
            opacity .1

          > #response
            position absolute
            z-index 3
            width 100%
            height 100%
            top 0
            left 0

            > #loading
              position absolute
              width 56px
              height 56px
              top 50%
              left 50%
              background none !important
              transition .2s
              animation loading 1s infinite

              &:before
                content ''
                position absolute
                width 16px
                height 16px
                background #6AA3D7
                bottom 4px
                right 4px
                border-radius 50%

              &:after
                content ''
                position absolute
                width 16px
                height 16px
                background #6AA3D7
                top 4px
                left 4px
                border-radius 50%

              @keyframes loading {
                0% {
                  transform translate3d(-50%, -50%, 0) rotate(0)
                }
                100% {
                  transform translate3d(-50%, -50%, 0) rotate(360deg)
                }
              }

            > p
              position absolute
              transform translateY(-50%)
              width 100%
              top 50%
              margin 0
              padding 0 4em
              box-sizing border-box
              color #525252
              text-align center

          > input
            position relative
            display inline-block
            vertical-align middle
            width 100%
            margin 2.5em 0
            border-color #525252
            color #525252

            &::placeholder
              opacity .6
              color #525252

            &#name, &#exp_date, &#postal_code
              width 48%
              margin-bottom .5em

            &#name
              width 100%
              margin-top 0

            &#cvv, &#postal_code
              margin-left 4%

            &#card_number
              width 68%
              margin-top .5em
              margin-bottom .5em

            &#cvv
              width 28%
              margin-top .5em
              margin-bottom .5em
              text-align center

            &#exp_date, &#postal_code
              margin-top .5em
              margin-bottom 2.5em

          > button
            position relative
            width 100%

      > #phone_number
        position relative
        width 100%
        margin 8em 0 6em

        > #form
          position relative
          width 100%
          text-align center
          padding 4em
          box-sizing border-box
          background white
          box-shadow 0 0 1.5em rgba(0,0,0,.075)

          > #icon
            position absolute
            transform translate3d(-50%, -50%, 0)
            width 76px
            height 76px
            top 0
            left 50%
            border-radius 50%
            background url('/img/icons/phone.png') center/contain no-repeat

          > p
            position relative
            width 100%
            margin 1em 0
            text-align center
            font-size 80%
            color #777777

          > h2
            margin .3em 0

          > #change_phone_number
            display inline-block
            width auto
            margin 0 auto
            font-size 70%
            letter-spacing .3px
            text-decoration underline
            color #5CA4D4
            transition .1s

            &:hover
              transform scale(1.1)
              transition .1s

            &:active
              transform scale(1)
              transition .1s

          > input
            position relative
            width 100%
            margin 2em 0

          > #confirm
            position absolute
            transform translate3d(-50%, 50%, 0)
            bottom 0
            left 50%



  &.mobile

    > #layout
      min-height 100%

      > #header

        > #logo
          display block
          width 50%
          margin 0 auto .3em

          > img
            width 100%

        > #menu_button
          position absolute
          right -12px
          top -6px
          width 42px
          height 42px
          border-radius 50%
          background white
          box-shadow 0 0 1em rgba(0, 0, 0, .1)
          transition .1s

          > #notification
            position absolute
            top -4px
            right -4px
            width 18px
            height 18px
            border-radius 50%
            background #EF8884
            text-align center
            transition .2s

            &.hidden
              transform scale(0)
              transition .3s

            > p
              margin 0
              font-size 70%
              font-weight bold
              line-height 18px
              color white

          &:active
            transform scale(.95)
            transition .1s

          > #icon
            position absolute
            top 9px
            left 9px
            width 24px
            height 24px
            background url('/img/icons/menu.png') center/contain no-repeat

        > #total_saving
          width 100%
          text-align center

          > *
            display inline-block
            vertical-align middle

          > #label
            margin .3em 0

          > #amount
            margin 0 0 0 .3em
            font-size 120%
            color #6AA3D7

      > #content
        padding 2em 0

        &.not_member
          margin 2em 0
          padding 2em 0

          > #SelectMembership.mobile > #layout > #active_plan > .element
            min-width 66%

          > button
            width 100%

        > #plan
          padding 2em 3em
          text-align center

          &.not_member
            padding 0
            box-shadow none

            > h2
              margin-bottom 1em

          > #upgrade
            width 102px
            height 44px

            &:hover
              transform scale(1)

            &:active
              transform scale(1.05)

          > #left, & > #right
            width 100%
            text-align center

            > *
              margin 0 auto

          > #left

            > #icon
              width 64px
              height 64px

          > #right

            > h1
              margin 6px auto

        > #options

          > #left
            font-size 80%

          > #right
            font-size 80%

        > #credit_cards

          > .card
            padding 7.5%
            font-size 80%

            > #default
              right 7.5%
              top 2em
              padding 4px 10px

            > #options
              right 7.5%
              top 2.5em

              > p
                margin .25em 0
                letter-spacing .3px
                opacity .5

                &:last-child
                  margin 1em 0

                &:hover
                  text-decoration underline
                  opacity .5

                &:active
                  text-decoration underline
                  opacity 1

            > #icon
              width 72px

            > #number
              margin 1em 0
              font-size 90%

            > #left, & > #right

              > #label
                letter-spacing .3px

              > #value
                font-size 130%

          > #add_credit_card
            padding 1em

            &:hover
              border-color #5CA4D4

              > p
                color #5CA4D4

            &:active
              border-color #6AA4D6
              transition .1s

              > p
                color #6AA4D6

          > #credit_card_form
            padding 7.5% 5%

        > #phone_number
          margin 6em 0 4em

          > #form
            padding 3em 10%

            > input
              margin 1.5em 0
