@import 'typographic'



#NewRequest
  position relative
  width 100%
  height 100%

  > #layout
    padding 5% 7.5%
    box-sizing border-box
    background white

    > #header
      position relative
      width 100%

      > *
        position relative
        display inline-block
        vertical-align top
        width 50%

      > #logo
        text-align left

        > img
          width 210px

      > #total_saving
        text-align right

        > p
          position absolute
          top -26px
          right 0
          margin 0
          line-height 20px
          font-size 85%

        > #label
          margin 0 0 .3em
          text-transform uppercase
          font-size 100%
          opacity .6
          letter-spacing 1.5px

        > #amount
          margin 0
          color #6AA3D7

        > .near
          color #D6B347 !important

        > .full
          color #E05050 !important

    > #content
      position relative
      width 100%
      margin 2em 0
      padding 2em
      border-radius 6px
      box-sizing border-box
      background white
      box-shadow 0 0 1.5em rgba(0,0,0,.075)

      > #categories
        position absolute
        top -50px
        width 100%
        text-align center
        transition .2s

        &.middle
          position absolute
          transform translate3d(0, -50%, 0)
          top 50%
          transition .2s

        &.shadow
          opacity .1
          pointer-events none
          transition .2s

        > .element
          position relative
          display inline-block
          vertical-align middle
          width auto
          margin-right 1em
          padding 1em 2em
          background white
          box-shadow 0 0 1.5em rgba(0,0,0,.075)
          border-radius 24px
          text-align center
          transition .1s

          > #icon
            position relative
            width 56px
            height 56px
            margin 0 auto
            background url('/img/icons/cruise.png') center/contain no-repeat

          &#ski

            > #icon
              background-image url('/img/icons/ski.png')

          > h2
            font-size 80%
            text-transform uppercase

          &.active
            opacity .6
            cursor default

            > h2
              color #6AA3D7

      > #form
        position relative
        width 100%
        text-align center
        margin 4em 0 2em
        padding 0 4em
        box-sizing border-box
        transition .2s

        &.hidden
          opacity 0
          pointer-events none
          transition .2s

        &.shadow
          opacity .1
          pointer-events none
          transition .2s

        > #note
          position relative
          display inline-block
          margin 0 auto
          width 100%
          margin 0 0 2em
          padding 6px 7%
          box-sizing border-box
          border 2px solid #5BA2DB
          border-radius 6px
          text-align center

          > p
            margin 0
            font-size 85%
            letter-spacing .1px
            color #5BA2DB

            > span
              font-weight bold
              color #EF8884

        > #upload, & > #price
          position relative
          display inline-block
          vertical-align top
          width 47.5%

        > #upload
          margin-right 5%
          margin-bottom 2%

          > input
            position absolute
            width 0
            height 0
            outline 0
            opacity 0
            pointer-events none
            user-select none

          > label > #input
            width 100%
            height 100%
            padding 26px 32px
            box-sizing border-box
            background white
            box-shadow 0 0 1.5em rgba(0,0,0,.075)
            border-radius 6px
            transition .1s

            &:hover
              transform scale(1.05)
              transition .1s

            &:active
              transform scale(1)
              transition .1s

            &.loading

              > #icon
                top 26px
                left 26px
                background none !important
                transition .2s
                animation loading 1s infinite

                &:before
                  content ''
                  position absolute
                  width 16px
                  height 16px
                  background #6AA3D7
                  bottom 4px
                  right 4px
                  border-radius 50%

                &:after
                  content ''
                  position absolute
                  width 16px
                  height 16px
                  background #6AA3D7
                  top 4px
                  left 4px
                  border-radius 50%

                @keyframes loading {
                  0% {
                    transform translate3d(-50%, -50%, 0) rotate(0)
                  }
                  100% {
                    transform translate3d(-50%, -50%, 0) rotate(360deg)
                  }
                }

            > #icon, & > p
              position relative
              display inline-block
              vertical-align middle

            > #icon
              width 52px
              height 52px
              margin-right 24px
              background url('/img/icons/upload.png') center/contain no-repeat

            > p
              width calc(100% - 76px)
              margin 0
              text-align left
              font-size 80%
              font-weight bold
              text-transform uppercase

          > p
            text-align center
            font-size 80%
            color #3ca5e0
            letter-spacing .5px

        > #price
          position relative

          > input
            width 100%
            font-size 130%
            font-weight bold
            line-height 52px
            padding 24px 32px

        > p
          margin 0 0 2em
          padding-left 4%
          text-align left
          font-size 80%
          color #3ca5e0
          letter-spacing .5px

        > #drop_list
          position relative
          width 100%
          margin-bottom 5%

          > select
            position relative
            width 100%
            padding 16px
            outline none
            background white
            box-shadow 0 0 1.5em rgba(0,0,0,.075)
            text-align left
            box-sizing border-box
            margin 0
            font-size 160%
            font-weight bold

          > #list
            position relative
            width 100%
            padding 1.3em 1.7em
            background white
            box-shadow 0 0 1.5em rgba(0,0,0,.075)
            text-align left
            box-sizing border-box

            > h2, & > #triangle
              position relative
              display inline-block
              vertical-align middle

            > h2
              margin 0
              width calc(100% - 10px)
              font-size 1.2em

            > #triangle
              width 0
              height 0
              border-style solid
              border-width 5px 5px 0 5px
              border-color black transparent transparent transparent

          > #picture
            position absolute
            top calc(50% - 32px)
            right -76px
            transform rotate(20deg)
            width 64px
            height 64px
            background url('/img/pictures/badge.png') center/contain no-repeat
            transition .1s

            &:hover
              transform scale(1.05)
              transition .1s

          > #guarantee
            position absolute
            z-index 3
            transform translateX(0) translateY(-50%) scale(1)
            opacity 1
            width 60%
            top 50%
            right 2px
            padding 2em 1.5em
            border-radius 16px
            text-align center
            background #6AA4D6
            box-shadow 0 0 1em rgba(0, 0, 0, .3)
            transition .1s

            &.hidden
              transform translateX(10%) translateY(-50%) scale(.8)
              opacity 0
              pointer-events none
              transition .1s

            &:after
              content ''
              position absolute
              width 0
              height 0
              top calc(50% - 12px)
              right -11px
              border-style solid
              border-width 12px 0 12px 12px
              border-color transparent transparent transparent #6AA4D6

            > p
              margin 0
              font-size 100%
              letter-spacing .3px
              color white

        > #comment
          position relative
          width 100%

          > textarea
            width 100%

      > #send_request
        position absolute
        transform translate3d(-50%, 50%, 0)
        bottom 0
        left 50%
        transition .2s

        &.hidden
          opacity 0
          pointer-events none
          transition .2s

        &.shadow
          opacity .1
          pointer-events none
          transition .2s

      > #ask
        position absolute
        width 100%
        height 100%
        top 0
        left 0

        > #form
          position absolute
          transform translate3d(-50%, -50%, 0)
          top 50%
          left 50%
          width 65%
          text-align center
          padding 4em
          box-sizing border-box
          background white
          box-shadow 0 0 1.5em rgba(0,0,0,.075)

          > #icon
            position absolute
            transform translate3d(-50%, -50%, 0)
            width 76px
            height 76px
            top 0
            left 50%
            border-radius 50%
            background url('/img/icons/phone.png') center/contain no-repeat

          > p
            position relative
            width 100%
            margin 2em 0
            text-align center
            font-size 80%
            color #777777

          > input
            position relative
            width 100%
            margin-bottom 2em

          > #confirm
            position absolute
            transform translate3d(-50%, 50%, 0)
            bottom 0
            left 50%



  &.mobile
    background white

    > #layout
      min-height 100%

      > #header

        > #logo
          display block
          width 50%
          margin 0 auto .3em

          > img
            width 100%

        > #menu_button
          position absolute
          right -12px
          top -6px
          width 42px
          height 42px
          border-radius 50%
          background white
          box-shadow 0 0 1em rgba(0, 0, 0, .1)
          transition .1s

          > #notification
            position absolute
            top -4px
            right -4px
            width 18px
            height 18px
            border-radius 50%
            background #EF8884
            text-align center
            transition .2s

            &.hidden
              transform scale(0)
              transition .3s

            > p
              margin 0
              font-size 70%
              font-weight bold
              line-height 18px
              color white

          &:active
            transform scale(.95)
            transition .1s

          > #icon
            position absolute
            top 9px
            left 9px
            width 24px
            height 24px
            background url('/img/icons/menu.png') center/contain no-repeat

        > #total_saving
          width 100%
          text-align center

          > *
            display inline-block
            vertical-align middle

          > #label
            margin .3em 0

          > #amount
            margin 0 0 0 .3em
            font-size 120%
            color #6AA3D7

      > #content
        padding 2em 0 3em
        background none
        box-shadow none

        > #categories

          &.middle
            top 30%

            > .element
              width 70%
              margin-right 0
              box-sizing border-box

              &:hover
                transform none

              &:active
                transform scale(0.95)

        > #categories:not(.middle)
          position relative
          top -20px

          > .element
            width 50%
            box-sizing border-box
            margin 0

            > #icon
              width 36px
              height 36px

            > h2
              font-size 90%

        > #form
          margin-top 0
          padding 0

          > #annotation
            font-size 90%
            letter-spacing .3px

          > #upload, & > #price
            display block
            width 100%

          > #upload
            margin-right 0

            > label

              > #input
                padding 20px 18%

            > p
              text-align center

          > #price
            width 70%
            margin 2em 0

            > input
              padding 8px 28px

          > #drop_list
            margin-bottom 2em

            > #picture
              top -92px
              right 0

              &:hover
                transform rotate(20deg) scale(1)

              &.active
                transform rotate(0)
                transition .1s

            > #guarantee
              width 60%
              top -59px
              right 78px

        > #send_request
          position relative
          transform translate3d(0, 0, 0)
          width 100%
          left 0
          text-align center

          > button
            padding 14px 32px

        > #ask

          > #form
            top 30%
            width 100%
            padding 3em 2em

            > #confirm

              > button
                padding 14px 32px
