@import 'typographic'



#ModalAddPaymentMethod
  position fixed
  width 100%
  height 100%

  > #layout
    height auto
    padding 0
    box-sizing border-box

    > #response
      position absolute
      z-index 3
      width 100%
      height 100%
      top 0
      left 0

      > #loading
        position absolute
        width 56px
        height 56px
        top 50%
        left 50%
        background none !important
        transition .2s
        animation loading 1s infinite

        &:before
          content ''
          position absolute
          width 16px
          height 16px
          background #6AA3D7
          bottom 4px
          right 4px
          border-radius 50%

        &:after
          content ''
          position absolute
          width 16px
          height 16px
          background #6AA3D7
          top 4px
          left 4px
          border-radius 50%

        @keyframes loading {
          0% {
            transform translate3d(-50%, -50%, 0) rotate(0)
          }
          100% {
            transform translate3d(-50%, -50%, 0) rotate(360deg)
          }
        }

      > p
        position absolute
        transform translateY(-50%)
        width 100%
        top 50%
        margin 0
        padding 0 4em
        box-sizing border-box
        color #525252
        text-align center

    > #content
      position relative
      width 100%
      height 100%
      margin 0
      overflow-y auto

      &.transparent
        opacity .1

      > #types
        position relative
        z-index 3
        width 100%
        text-align center
        transition .2s

        &.middle
          position absolute
          transform translate3d(0, -50%, 0)
          top 45%
          transition .2s

        &:not(.middle)
          margin-top 32px

        > .element
          position relative
          display inline-block
          vertical-align middle
          width auto
          margin-right 1em
          padding 1em 2.5em
          background white
          box-shadow 0 0 1.5em rgba(0,0,0,.075)
          border-radius 24px
          text-align center
          transition .1s

          &.live:not(.active):hover
            transform scale(1.05)
            transition .1s

          &.live:not(.active):active
            transform scale(1)
            transition .1s

          &:last-child
            margin-right 0

          > #icon
            position relative
            width 56px
            height 56px
            margin 0 auto
            background url('/img/icons/credit_card.png') center/contain no-repeat

          &#bank_account

            > #icon
              background-image url('/img/icons/bank_account.png')

          &#check

            > #icon
              background-image url('/img/icons/check.png')

          > h2
            font-size 80%
            text-transform uppercase

          &.active
            opacity .6
            cursor default

            > h2
              color #6AA3D7

      > #form
        position relative
        width 100%
        margin 2em 0
        padding 0 10%
        box-sizing border-box

        > #layout
          text-align center

          > #credit_card_form
            position relative
            width 100%
            margin 0 auto
            padding 1em 15% 2em
            box-sizing border-box

            > input
              position relative
              display inline-block
              vertical-align middle
              width 100%
              margin 2.5em 0
              border-color #525252
              color #525252

              &::placeholder
                opacity .6
                color #525252

              &#name, &#exp_date, &#postal_code
                width 48%
                margin-bottom .5em

              &#name
                width 100%
                margin-top 0

              &#cvv, &#postal_code
                margin-left 4%

              &#card_number
                width 68%
                margin-top .5em
                margin-bottom .5em

              &#cvv
                width 28%
                margin-top .5em
                margin-bottom .5em
                text-align center

              &#exp_date, &#postal_code
                margin-top .5em
                margin-bottom 2.5em

            > button
              position relative
              width 100%

          > #bank_account_form
            position relative
            width 100%
            margin 0 auto
            padding 1em 15% 2em
            box-sizing border-box

            > h2
              margin 0 0 2em
              font-size 100%

            > input
              position relative
              display inline-block
              vertical-align middle
              width 100%
              margin 2.5em 0
              border-color #525252
              color #525252

              &::placeholder
                opacity .6
                color #525252

              &#routing
                width 100%
                margin-bottom .5em

              &#account, &#re_account
                width 48%
                margin-top .5em
                margin-bottom .5em

              &#account
                margin-right 4%

              &#cvv
                width 28%
                margin-top .5em
                margin-bottom .5em
                text-align center

              &#name
                margin-top .5em
                margin-bottom 2.5em

            > #recipient
              position relative
              text-align center

              > #label
                position relative
                margin 0
                padding-right 8px
                box-sizing border-box
                font-size 70%
                font-weight bold
                text-transform uppercase
                opacity .6

              > #person, & > #checkbox, & > #business
                display inline-block
                vertical-align middle

              > #person, & > #business
                font-size 80%
                font-weight bold
                text-transform uppercase

              > #person
                color #6AA3CF

              > #business
                color #EF8884

              > #checkbox
                position relative
                width 40px
                height 26px
                margin 10px 1.5em 6px
                border-radius 32px
                border 2px solid #525252
                transition .3s

                > #circle
                  position absolute
                  width 26px
                  height 26px
                  top 0
                  left 0
                  background #6AA3CF
                  border-radius 50%
                  transition .2s

                &.business

                  > #circle
                    left 14px
                    background #EF8884
                    transition .2s

            > button
              position relative
              width 100%

          > #address_form
            position relative
            width 100%
            margin 0 auto
            padding 1em 15% 2em
            box-sizing border-box

            > h2
              font-size 100%

            input#address
              position relative
              display block
              vertical-align middle
              width 100%
              margin 2.5em auto
              border-color #525252
              color #525252

              &::placeholder
                opacity .6
                color #525252



  &.mobile

    > #layout
      height 100% !important
      padding 24px 24px 0

      > #content

        > #types:not(.middle)
          margin-top 48px

        > #form
          padding 0

          > #layout

            > #credit_card_form, & > #bank_account_form
              padding 2em 5%

            > #bank_account_form

              > #account, & > #re_account
                width 100%
                margin-right 0
