@import 'typographic'



#ModalNoEmail
  position fixed
  width 100%
  height 100%

  > #layout
    position absolute
    transform translateY(-50%)
    width 100%
    height auto !important
    top 50%
    padding 32px
    box-sizing border-box
    text-align center

    > *.transparent
      opacity .1

    > h2
      font-size 120%

    > #response
      position absolute
      z-index 3
      width 100%
      height 100%
      top 0
      left 0

      > #loading
        position absolute
        width 56px
        height 56px
        top 50%
        left 50%
        background none !important
        transition .2s
        animation loading 1s infinite

        &:before
          content ''
          position absolute
          width 16px
          height 16px
          background #6AA3D7
          bottom 4px
          right 4px
          border-radius 50%

        &:after
          content ''
          position absolute
          width 16px
          height 16px
          background #6AA3D7
          top 4px
          left 4px
          border-radius 50%

        @keyframes loading {
          0% {
            transform translate3d(-50%, -50%, 0) rotate(0)
          }
          100% {
            transform translate3d(-50%, -50%, 0) rotate(360deg)
          }
        }

      > p
        position absolute
        transform translateY(-50%)
        width 100%
        top 50%
        margin 0
        padding 0 4em
        box-sizing border-box
        color white
        text-align center

    > #input
      position relative
      width 70%
      margin 2.5em auto 1.5em

      > input
        width 100%
        text-align center

      > #error
        position relative
        width 100%
        font-size 80%
        bottom -6px
        margin 0
        opacity 1
        color #EF8884
        text-align center
        transition .1s

        &.hidden
          bottom -12px
          opacity 0
          transition .1s

    > button
      display inline-block
      vertical-align middle

      &:first-of-type
        margin-right 1em



  &.mobile

    > #layout

      > #input
        width 100%

      > button
        width 70%
