@import 'typographic'



#AllRequests
  position relative
  width 100%
  height 100%

  > #layout
    padding 5% 7.5%
    box-sizing border-box

    > #header
      position relative
      width 100%

      > *
        position relative
        display inline-block
        vertical-align top
        width 50%

      > #logo
        text-align left

        > img
          width 210px

      > #total_saving
        text-align right

        > p
          position absolute
          top -26px
          right 0
          margin 0
          line-height 20px
          font-size 85%

        > #label
          margin 0 0 .3em
          text-transform uppercase
          font-size 100%
          opacity .6
          letter-spacing 1.5px

        > #amount
          margin 0
          color #6AA3D7

        > .near
          color #D6B347 !important

        > .full
          color #E05050 !important

    > #list
      position relative

      > #empty
        position relative
        width 100%
        margin-top 4em
        text-align center

        > h2
          margin-bottom 1em
          font-weight bold

      > .element
        position relative
        background white
        margin 3% 0
        padding 3%
        box-sizing border-box
        box-shadow 0 0 1.5em rgba(0,0,0,.05)
        border-radius 8px
        transition .1s

        &:hover
          transform scale(1.02)
          transition .1s

        > #left, & > #center, & > #right
          position relative
          display inline-block
          vertical-align top

        > #left
          width 12%
          text-align center

          > #icon
            width 64px
            height 64px
            background url('/img/icons/cruise.png') center/contain no-repeat

            &.ski
              background-image url('/img/icons/ski.png')

        > #center
          width 65%

          > h2
            margin 0 0 1em 0
            font-size 120%

          > .info
            display inline-block
            vertical-align top
            margin-right 10%

            > p
              margin 0 0 3px 0
              opacity .6
              font-family $futura
              font-size 80%
              font-weight bold
              text-transform uppercase

            > h2
              margin 0
              font-size 120%
              color #5FCA85

          > p
            display inline-block
            vertical-align top
            margin 0
            font-size 80%
            font-weight 400

            &#date
              font-weight bold
              color #A3A4A5
              letter-spacing .3px

        > #right
          width 23%
          text-align right

          > #status
            position relative
            width 100%
            padding-left 8px
            box-sizing border-box

            > p
              margin 0
              font-size 60%
              font-weight bold
              text-transform uppercase

            &.processing > p
              color #6AA3D7

            &.confirmation > p
              color #10CE7E

            &.confirmed > p
              color #EF8884

            &.completed > p
              color #9FA3A3

          > button
            margin 1.25em 0 0
            transition .1s

            &.confirmation:hover
              background #EF8884
              transform scale(1)
              transition .1s

            &:active
              transform scale(.95) !important
              transition .1s



  &.mobile
    background white

    > #layout
      min-height 100%
      background white

      > #header

        > #logo
          display block
          width 50%
          margin 0 auto .3em

          > img
            width 100%

        > #menu_button
          position absolute
          right -12px
          top -6px
          width 42px
          height 42px
          border-radius 50%
          background white
          box-shadow 0 0 1em rgba(0, 0, 0, .1)
          transition .1s

          > #notification
            position absolute
            top -4px
            right -4px
            width 18px
            height 18px
            border-radius 50%
            background #EF8884
            text-align center
            transition .2s

            &.hidden
              transform scale(0)
              transition .3s

            > p
              margin 0
              font-size 70%
              font-weight bold
              line-height 18px
              color white

          &:active
            transform scale(.95)
            transition .1s

          > #icon
            position absolute
            top 9px
            left 9px
            width 24px
            height 24px
            background url('/img/icons/menu.png') center/contain no-repeat

        > #total_saving
          width 100%
          text-align center

          > *
            display inline-block
            vertical-align middle

          > #label
            margin .3em 0

          > #amount
            margin 0 0 0 .3em
            font-size 120%
            color #6AA3D7

      > #list
        padding 2em 0

        > .element
          padding 1.5em 4%

          &:hover
            transform scale(1)

          &:active
            transform scale(.95)

          > #left
            width 32px
            margin-right 8px

            > #icon
              width 32px
              height 32px

          > #center
            width calc(100% - 40px)
            font-size 80%

            > h2
              margin-bottom 2px

            > #date
              margin-top 3px

            > .info
              margin-top 3px
              margin-right 6%

          > #right
            width 100%
            margin-top 8px
            text-align center

            > #status
              padding-left 0
              font-size 80%

              > p > br
                display none

            > button
              font-size 80%
              margin 1em 0 0
              padding 8px 18px
