@import 'typographic'



#AdminRequests
  position relative
  width 100%
  height 100%

  > #layout
    padding 5% 7.5%
    box-sizing border-box

    > #header
      position relative
      width 100%
      text-align center

      > *
        position relative
        display inline-block
        vertical-align middle

      > .stats
        text-align center
        margin-right 2.5em

        &:last-of-type
          margin-right 0

        > #data
          margin 0
          line-height 42px
          color #525252

        > #label
          margin 0
          text-transform uppercase
          font-size 70%
          line-height 15px
          opacity .6
          letter-spacing 1.5px

        &#processing > #data
          color #6AA3D7

        &#confirmation > #data
          color #10CE7E

        &#confirmed > #data
          color #EF8884

        &#completed > #data
          color #9FA3A3

      > #show_completed
        position absolute
        top 0
        right 0

        > #checkbox
          position relative
          width 40px
          height 26px
          margin 6px auto
          border-radius 32px
          border 2px solid #525252
          transition .3s

          > #circle
            position absolute
            width 26px
            height 26px
            top 0
            left 0
            background #A0A3A3
            border-radius 50%
            transition .2s

          &.active
            background #e2e4e4
            transition .3s

            > #circle
              left 14px
              background #6AA3D7
              transition .2s

        > #label
          margin 0
          font-size 70%
          line-height 15px
          opacity .6
          letter-spacing 1.5px

    > #list
      position relative
      margin 3em 0
      padding 0 5%

      > #empty
        position relative
        width 100%
        margin-top 4em
        text-align center

        > h2
          margin-bottom 1em
          font-weight bold

      > .element
        position relative
        background white
        margin 3% 0
        padding 3%
        box-sizing border-box
        box-shadow 0 0 1.5em rgba(0,0,0,.05)
        border-radius 8px
        transition .1s

        &:hover
          transform scale(1.02)
          transition .1s

        > #top
          position relative
          width 100%
          height auto

          > #left, & > #center, & > #right
            position relative
            display inline-block
            vertical-align top

          > #left
            width 12%
            text-align center

            > #icon
              width 64px
              height 64px
              background url('/img/icons/cruise.png') center/contain no-repeat

              &.ski
                background-image url('/img/icons/ski.png')

          > #center
            width 65%

            > h2
              margin 0 0 1.5% 0
              font-size 120%

            > .info
              display inline-block
              vertical-align top
              margin-right 5%

              > p
                margin 0 0 6% 0
                opacity .6
                font-family $futura
                font-size 80%
                font-weight bold
                text-transform uppercase

              > h2
                margin 0
                font-size 120%
                color #18BA7B

            > p
              display inline-block
              vertical-align top
              margin 0
              font-size 80%
              font-weight 400

              &#email
                margin-right 5%
                letter-spacing .2px

            > .info
              display inline-block
              vertical-align top
              font-size 80%

              > p
                margin 0 0 3px 0
                opacity .6
                font-family $futura
                font-size 80%
                font-weight bold
                text-transform uppercase
                letter-spacing .5px

              > h2
                margin 0
                font-size 100%
                color #979797

              &.confirmation > h2
                color #5FCA85

              &.confirmed > h2
                color #EF8884

          > #right
            width 23%
            text-align right

            > #status
              position relative
              width 100%
              padding-left 8px
              box-sizing border-box

              > p
                margin 0
                font-size 60%
                font-weight bold
                text-transform uppercase

              &.processing > p
                color #6AA3D7

              &.confirmation > p
                color #10CE7E

              &.confirmed > p
                color #EF8884

              &.completed > p
                color #9FA3A3

        > #bottom
          position absolute
          width auto
          height auto
          text-align right
          right 1.5em
          bottom 1.5em

          > button
            transition .1s

            &.processing:hover
              background #5FCA85
              transform scale(1)
              transition .1s

            &.confirmed:hover
              background #EF8884
              transform scale(1)
              transition .1s

            &:active
              transform scale(.95) !important
              transition .1s
