@font-face
  font-family 'Futura'
  src url('/fonts/futura/futura.ttf')
  font-weight normal

@font-face
  font-family 'Futura'
  src url('/fonts/futura/futura_italic.ttf')
  font-weight normal
  font-style italic

@font-face
  font-family 'Futura'
  src url('/fonts/futura/futura_bold.ttf')
  font-weight bold
