#layout
  position relative
  width 100%
  height 100%



*
  font-family $futura
  user-select none
  -webkit-overflow-scrolling touch

h1, h2, h3, h4, h5, h6, p
  cursor default
  color #525252

h3, h4, h5, h6, p, span, a, li
  font-family $futura
  font-weight 100
  letter-spacing 1px
  color #525252

a
  cursor pointer



.scrollbar_hidden::-webkit-scrollbar
  display none

.hover_zoom:not(.active)
  transition .1s

  &:hover
    transform scale(1.1)
    transition .1s

  &:active
    transform scale(1)
    transition .1s


.cursor_pointer, .cursor_pointer *
  cursor pointer

.cursor_loading, .cursor_loading *
  cursor progress


.selectable_text, .selectable_text *
  user-select text
  cursor text


.untouchable
  pointer-events none


.transparent
  pointer-events none



input, textarea
  outline none
  padding 14px 22px
  box-sizing border-box
  background transparent
  color white
  font-family $futura
  font-size 90%
  letter-spacing .5px
  border-radius 8px
  user-select auto
  appearance none

  &.invalid
    border-color #E05050 !important

  &.right_form
    border 2px solid white

    &::placeholder
      color rgba(#FFF,.7)

  &.left_form
    border 2px solid #525252
    color #525252

    &::placeholder
      color rgba(#525252,.7)

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  appearance none
  margin 0

input[type=number]
  appearance:textfield

textarea
  resize none

select
  border 2px solid #525252

  &.invalid
    border-color #E05050 !important

button
  padding 14px 28px
  box-sizing border-box
  border none
  border-radius 8px
  outline none
  cursor pointer
  text-align center
  color white
  text-transform uppercase
  letter-spacing 2px
  font-weight bold
  font-size 90%
  transition .1s

  &:hover
    transform scale(1.02)
    transition .1s

  &:active
    transform scale(1)
    transition .1s

  &.button_blue
    background #57A5D4
    color white

  &.button_white
    background white
    color #525252

  &.button_grey
    background #C4CACA
    color white

  &.button_gold
    background #D6B362
    color white



.mobile button
  padding 12px 14px

  &:hover
    transform scale(1)
    transition .1s

  &:active
    transform scale(.95)
    transition .1s
