@import 'typographic'



#ModalCruise
  position fixed
  width 100%
  height 100%

  > #layout
    height auto
    padding 32px 32px 0
    box-sizing border-box

    > #header
      position absolute
      z-index 2
      width calc(100% - 64px)
      background white

      > *
        position relative
        display inline-block
        vertical-align middle

      > #icon
        width 64px
        height 64px
        margin-right 1em
        background url('/img/icons/cruise.png') center/contain no-repeat

      > h2
        margin 0
        font-size 120%
        text-transform uppercase

    > #list
      position relative
      width 100%
      height calc(100% - 86px)
      margin 86px 0 0
      overflow-y auto

      > #layout
        height 100%
        padding 0 1em 0
        box-sizing border-box

        > .item
          position relative
          display inline-block
          vertical-align middle
          width 30%
          margin 1em 0

          &:last-child
            margin-bottom 3em !important

          &:nth-child(3n+2)
            margin 1em 4.5%

          > *
            position relative
            display inline-block
            vertical-align top

          > #title
            width auto
            max-width 60%
            margin 0
            font-size 80%
            font-weight 300

          // > span
          //   width 20%
          //   height 1px
          //   background #E9ECED

          > #percentage
            margin 0
            float right
            font-family $futura
            font-weight bold
            color #58A5D4



  &.mobile

    > #layout
      height 100% !important
      padding 24px 24px 0

      > #header
        width calc(100% - 46px)

        > *
          position relative
          display inline-block
          vertical-align middle

        > #icon
          width 46px
          height 46px
          margin-right 1em

        > h2
          font-size 100%

      > #list
        margin-top 56px
        height calc(100% - 56px)
        overflow-x hidden

        > #layout > .item
          width 100%

          > #title
            font-size 100%

          &:nth-child(3n+2)
            margin 1em 0
