#AdminMenu
  position fixed
  transform translateY(-50%)
  width 20%
  height auto
  top 50%

  > #layout

    > #menu
      position relative
      width 80%
      margin 0 auto

      > .element
        position relative
        width 100%
        margin-bottom 1em
        padding 1em
        box-sizing border-box
        border-radius 8px
        background white
        text-align center
        transition .1s

        > .notification
          position absolute
          top 1em
          right 1em
          width 26px
          height 26px
          border-radius 50%
          background #5CA4D4
          text-align center
          transition .2s

          &#confirmed
            top 3em
            background #EF8884

            &.top
              top 1em

          &.hidden
            transform scale(0)
            transition .3s

          > p
            margin 0
            font-size 70%
            font-weight bold
            line-height 26px
            color white

        &.inactive
          opacity .3
          pointer-events none
          cursor default

        &:before
          content ''
          position absolute
          left 8px
          top 0
          bottom 0
          width 0
          background white
          transition .3s

        &.active:before
          left -120px
          width 128px
          transition .3s

        &:not(.active):hover
          transform scale(1.05)
          transition .1s

        &:not(.active):active
          transform scale(1)
          transition .1s

        &:last-of-type
          margin-bottom 0

        > #icon
          position relative
          display inline-block
          width 72px
          height 72px
          background url('/img/icons/all_requests.png') center/contain no-repeat

        > h2
          position relative
          width 100%
          margin .5em 0
          color #6AA3D7
          font-size 90%
          font-weight bold
          text-transform uppercase

        &#subscribers

          > #icon
            width 96px
            background-image url('/img/icons/subscribers.png')
