#MobileHome
  position relative
  width 100%
  height 100%

  > #layout
    padding 0 5%
    box-sizing border-box
    background white

    > #header
      position relative
      width 100%
      margin-bottom 1.5em
      padding 1.5em 0 0
      box-sizing border-box

      > #logo
        width 50%
        margin 0 auto .3em

        > img
          width 100%

      > #menu_button
        position absolute
        right -6px
        top 1em
        width 42px
        height 42px
        border-radius 50%
        background white
        box-shadow 0 0 1em rgba(0, 0, 0, .1)
        transition .1s

        &:active
          transform scale(.95)
          transition .1s

        > #icon
          position absolute
          top 9px
          left 9px
          width 24px
          height 24px
          background url('/img/icons/menu.png') center/contain no-repeat

      > h3
        width 100%
        margin 0
        text-align center
        font-size 100%

    > .info
      position relative
      display inline-block
      vertical-align middle
      width 100%
      margin 0 0 1em
      font-weight 800
      text-align center

      > p
       letter-spacing .2px
       font-weight 800

    > #things
       position relative
       margin 1em 0

       > .thing
         position relative
         display block
         width 100%
         margin 3em 0
         text-align center
         // border-right 3px solid #4692CA
         transition .2s

         &:active
           transform scale(0.98)
           transition .2s

         &:last-of-type

           & > img
             width 48px

         & > h1

           &#number
             display none
             vertical-align middle
             margin-right .5em
             text-align center
             opacity .6

         & > img
           display inline-block
           vertical-align middle
           width 52px
           // border-radius 50%
           // box-shadow 0 .5em 1em rgba(0,0,0,.1)

         & > #text
           display inline-block
           vertical-align middle
           width 70%
           margin-left 2em

           & > h3

             &#title
               margin 0
               font-size 1.1em
               text-align left
               letter-spacing .2px
               color #4692CA
               font-weight bold

           & > p

             &#description
               margin 1em 0 0
               text-align left
               font-size .9em
               letter-spacing .3px

    > #annotation
      position relative
      margin 2.5em 0 3em

      > #box
        margin-left 0
        padding 2.5% 4%
        border 1px solid #1C94CF
        border-left 1px solid #1C94CF
        border-radius 8px

        > *
          display inline-block
          vertical-align middle

        > #badge
          position absolute
          width 64px
          height 64px
          top -10px
          left -10px
          transform translateY(0) rotate(-16deg)
          background url('/img/pictures/badge.png') center/contain no-repeat
          border-radius 50%

        > p
          margin 0
          padding-left 50px
          color #1C94CF
          font-size 80%
          font-weight 700
          letter-spacing .3px

        > #additional
          margin 10px 0 0
          padding 0
          color #525252
          box-sizing border-box
          opacity .6
          font-size 60%
          letter-spacing .2px
          font-weight normal
          text-align left

    > #list
      position relative
      width 112%
      margin 2em 0 2em -6%

      > h2
        width 100%
        font-size 100%
        text-align center

      > p
        width 100%
        padding 0 2em
        box-sizing border-box
        text-align center
        font-size 80%

        &#sure
          opacity .6
          font-size 100%
          color #0372c7
          font-weight bold

      > .element
        position relative
        width 100%
        height auto
        left 0
        margin 1.5em 0
        padding 2em 3em
        box-sizing border-box
        box-shadow 0 0 1em rgba(0, 0, 0, .15)
        border-radius 0
        text-align left
        transition .1s

        > *
          position relative
          display inline-block
          vertical-align middle

        > .icon
          width 44px
          height 44px
          margin-right 1em
          background url('/img/icons/one.png') center/contain no-repeat

        > div
          width 80%

          > h2
            margin 0 0 .5em
            font-size 90%

          > p
            margin 0
            font-size 85%
            font-weight 300
            letter-spacing .5px

        &#two > .icon
          background-image url('/img/icons/two.png')

        &#three > .icon
          background-image url('/img/icons/three.png')

    > #announcement
      position relative
      width 100%
      height 72px

      > #box
        position relative
        display inline-block
        top 21px
        padding 4px 12px 4px 4px
        box-sizing border-box
        border-radius 16px
        background #E9ECED
        transition .1s

        &:active
          transform scale(1.05)
          transition .1s

        > *
          position relative
          display inline-block
          vertical-align top
          padding 4px 8px
          box-sizing border-box

        > h2
          margin 0
          font-size 60%
          text-transform uppercase
          border-radius 16px
          background #E7D330
          color white

        > p
          margin 0
          font-size 70%
          font-weight 500
          line-height 12px
          letter-spacing .5px

      > #badge
        position absolute
        left 0
        top -35px
        height 140px
        width 100%
        background url('/img/pictures/ship.png') center/contain no-repeat

    > #products
      position relative
      width 100%
      margin 3em 0
      text-align center

      > h1
        margin 0 0 1em
        font-size 120%
        font-weight bold
        text-align center
        color #57a5d4

      > .product
        position relative
        display inline-block
        vertical-align middle
        width 90%
        height auto
        padding 1em 2em
        box-sizing border-box
        border-radius 8px
        background white
        box-shadow 0 0 1.6em rgba(0, 0, 0, .08)

        > #header
          position relative
          width 100%
          text-align center

          > *
            position relative
            display inline-block
            vertical-align middle

          > #icon
            margin-right .5em
            width 36px
            height 36px
            background url('/img/icons/cruise.png') center/contain no-repeat

          > h2
            width auto
            margin 0
            margin-right 3em
            font-size 70%
            text-align left
            text-transform uppercase

        > #list
          position relative
          width 100%
          margin 2em 0 4em
          text-align left

          > .item
            position relative
            width 100%
            margin .7em 0

            > *
              position relative
              display inline-block
              vertical-align top

            > #title
              width auto
              max-width 80%
              margin 0
              font-size 80%
              font-weight 300
              letter-spacing .3px
              line-height 15px

            > #icon
              width auto
              height 18px
              margin 0

              > img
                height 100%

            > #percentage
              position absolute
              top 0
              right 0
              margin 0
              font-size 80%
              font-weight bold
              line-height 15px

        > button
          position absolute
          left 0
          bottom 0
          width 100%
          border-radius 0 0 8px 8px

        &#cruise

          > #header

            > #icon
              background-image url('/img/icons/cruise.png')

          #percentage
            color #58A5D4

    > #footer
      position relative
      width 112%
      margin-left -6%
      padding 2em 0
      box-sizing border-box
      background-color #081D3A
      text-align center

      p:not(:last-child)
        display inline-block
        vertical-align middle
        text-decoration underline

      p:first-child
        margin-right 1em

      p
        font-size 70%
        font-weight normal
        letter-spacing .5px
        color white
