#Modal
  position fixed
  z-index 3
  width 100%
  height 100%
  top 0
  left 0
  opacity 0
  background rgba(255, 255, 255, .9)
  perspective 800px

  &.no_email
    background rgba(255, 255, 255, .3)

    > #layer
      background rgba(255, 255, 255, .3)

  > #layer
    position absolute
    width 100%
    height 100%
    background rgba(255, 255, 255, .9)

  > #board
    position absolute
    transform translate3d(-50%, -50%, 0)
    width 60%
    height 70vh
    top 50%
    left 50%
    opacity 0
    background white
    box-shadow 0 0 3em rgba(0, 0, 0, .15)
    border-radius 8px

    &.alert, &.no_email, &.alert_upgrade
      width 50%
      height 320px

    &.admin_request
      height 80vh

    &.membership
      height 90vh
      overflow hidden

    > #close
      position absolute
      z-index 2
      top 2em
      right 2em
      width 32px
      height 32px
      background url('/img/icons/close.png') center/contain no-repeat
      transition .1s

      &:hover
        transform scale(1.1)
        transition .1s

      &:active
        transform scale(1)
        transition .1s



  &.mobile

    > #board
      position absolute
      transform translate3d(0,0,0)
      width 100%
      height 100%
      top 0
      left 0
      opacity 0
      background white
      box-shadow none
      border-radius 0

      &.alert
        transform translate3d(-50%,-50%,0) !important
        top 50%
        left 50%
        width 80%
        height 200px
        box-shadow 0 0 2em rgba(0, 0, 0, .15)
        border-radius 8px

        > #ModalAlert > #layout
          padding 5%

      &.admin_request
        height 100%

      > #close
        position absolute
        z-index 2
        top 2em
        right 2em
        width 24px
        height 24px
        background url('/img/icons/close.png') center/contain no-repeat
        transition .1s

        &:hover
          transform scale(1)
          transition .1s

        &:active
          transform scale(.95)
          transition .1s
