@import 'typographic'



#AdminSubscribersOne
  position relative
  width 100%
  height 100%

  > #layout
    padding 2em 0 0
    box-sizing border-box

    > #header
      position relative
      width 100%
      padding 0 7.5%
      box-sizing border-box
      text-align center

      > button
        position absolute
        transform translateY(-50%)
        top 50%
        left 7.5%

      > h1
        position relative
        width 100%
        font-size 180%
        font-weight bold

      > h2
        position relative
        width 100%
        font-size 110%
        font-weight bold
        opacity .6

    > #information
      position relative
      width 100%
      margin 3em 0 0
      padding 0 12%
      box-sizing border-box

      > *
        position relative
        display inline-block
        vertical-align middle

      > #card
        position relative
        width 70%
        margin 0 5% 0 0
        padding 3em
        box-sizing border-box
        background white
        box-shadow 0 0 1.5em rgba(0, 0, 0, .05)
        border-radius 8px

        > #icon
          width 86px

          > img
            width 100%

        > #number
          position relative
          width 100%
          margin 2em 0

          > h1
            position relative
            display inline-block
            vertical-align middle
            width 25%
            color #6AA3D7
            text-align center

        > #left, & > #right, & > #bleft, & > #bright
          position relative
          display inline-block
          vertical-align middle

          > #label
            margin 0
            opacity .6
            font-size 80%
            font-weight 400
            letter-spacing 1px

          > #value
            margin .3em 0 0
            color #6AA3D7
            text-transform uppercase

        > #left, & > #bleft
          width 70%

        > #right, & > #bright
          width 30%
          text-align right

        > #bleft, & > #bright
          width 50%
          margin-top 1em

      > #dates
        position relative
        width 25%

        > .stats
          position relative
          width 100%
          margin 2em 0
          text-align left

          > #label
            margin 0 0 3px
            font-size 90%
            line-height 15px
            opacity .6
            letter-spacing 1.5px
            color #9FA3A3

          > #data
            margin 0
            font-size 180%
            line-height 42px
            color #525252

          &#last_payment > #data
            color #6AA3D7

    > #requests
      position relative
      width 100%
      margin 3em 0
