#ModalMobileMenu
  position fixed
  width 100%
  height 100%

  > #layout
    height 100% !important
    padding 24px 24px 0
    box-sizing border-box
    overflow-y auto

    > #header
      position absolute
      z-index 2
      width calc(100% - 64px)
      background white

      > h2
        width calc(100% - 46px)
        margin 0
        font-size 120%
        text-transform uppercase

        &.email
          text-transform none

    > #content
      position relative
      width 100%
      margin 56px 0 0
      overflow-x hidden

      > #menu
        position relative
        transform translate3d(0, 0, 0)
        top 0
        left 0
        width 100%
        text-align center

        > #DashboardMenu
          position relative
          transform translateY(0)
          width 100%
          top 0

          > #layout

            > #menu
              background none

              > .element
                box-shadow 0 0 1.5em rgba(0,0,0,0.1)

                &:before, &:after
                  display none

                &:not(#my_membership).active
                  opacity .4

        > h2
          margin 1.5em 0
          font-size 140%
          font-weight bold
          text-transform uppercase
          text-decoration underline
          transition .1s

          &:not(.active):active
            transform scale(.95)
            transition .1s

          &.active
            text-decoration none
            opacity .6

        > #log_out
          font-size 100%
          opacity .6

      &.not_logged
        margin 0
        position absolute
        transform translateY(-50%)
        top 45%
        left 0

    > #footer
      position relative
      width 100%
      bottom 0
      left 0
      text-align center

      p:not(:last-child)
        display inline-block
        vertical-align middle
        text-decoration underline

      p:first-child
        margin-right 1em

      &:active
        text-decoration none

      p:last-child
        margin-top 0

      > p
        font-size 70%
        font-weight normal
        letter-spacing .5px
        color #525252

      &.not_logged
        position absolute
        bottom 4vh
        left 0
