#CreatePasswordForm
  position fixed
  transform translateY(-50%)
  width 50%
  height auto
  top 50%

  > #layout
    perspective 500px

    > #form
      position relative
      width 76%
      margin 0 auto
      padding 7%
      box-sizing border-box
      background rgba(0,0,0,.4)
      border-radius 8px

      > *.transparent
        pointer-events none
        opacity .1

      > #response
        position absolute
        z-index 3
        width 100%
        height 100%
        top 0
        left 0

        > #loading
          position absolute
          width 56px
          height 56px
          top 50%
          left 50%
          background none !important
          transition .2s
          animation loading 1s infinite

          &:before
            content ''
            position absolute
            width 16px
            height 16px
            background #6AA3D7
            bottom 4px
            right 4px
            border-radius 50%

          &:after
            content ''
            position absolute
            width 16px
            height 16px
            background #6AA3D7
            top 4px
            left 4px
            border-radius 50%

          @keyframes loading {
            0% {
              transform translate3d(-50%, -50%, 0) rotate(0)
            }
            100% {
              transform translate3d(-50%, -50%, 0) rotate(360deg)
            }
          }

        > p
          position absolute
          transform translateY(-50%)
          width 100%
          top 50%
          margin 0
          padding 0 4em
          box-sizing border-box
          color white
          text-align center

      > h1
        font-size 140%

      > input
        position relative
        width 100%

        &:first-of-type
          margin-top 2.5em
          margin-bottom .5em

        &:last-of-type
          margin-top .5em
          margin-bottom 2.5em

      > button
        position relative
        width 100%

      > #error
        position absolute
        width 100%
        font-size 80%
        bottom 2em
        left 0
        margin 0
        opacity 1
        color #EF8884
        text-align center
        transition .1s

        &.hidden
          bottom -6px
          opacity 0
          transition .1s

  &.mobile
    position relative
    transform translateY(0)
    width 112%
    height auto
    top 0
    margin 2em 0 0 -6%
    padding 4em 5%
    box-sizing border-box
    width 112%
    height auto
    background-color #081D3A

    > #video_bg
      position absolute
      height 100%
      top 0
      left 0
      overflow hidden

      > div
        position relative !important
        height 100% !important

    > #layout

      > #form
        width 100%
        padding 5%

        > h1
          color white
          text-align center

        > button
          margin 1em 0 1.5em

        > #error
          bottom 30%

      > button
        margin-left 0
