@import 'typographic'



#RegisterForm
  position relative
  width 100%
  height auto

  &.transparent
    opacity .1
    pointer-events none

  > #layout
    perspective 500px

    > #form
      position relative
      width 70%
      margin 0 auto
      padding 3.5% 7% 8%
      box-sizing border-box
      background white
      border-radius 0 0 8px 8px
      box-shadow 0 4px 1em rgba(0,0,0,0.05)

      > #stripe
        position absolute
        transform translateX(-50%)
        width 128px
        bottom 1em
        left 50%

        > img
          width 100%

      > *.transparent
        pointer-events none
        opacity .1

      > #response
        position absolute
        z-index 3
        width 100%
        height 100%
        top 0
        left 0
        background rgba(255,255,255,.1)
        border-radius 0 0 8px 8px

        > #loading
          position absolute
          width 56px
          height 56px
          top 50%
          left 50%
          background none !important
          transition .2s
          animation loading 1s infinite

          &:before
            content ''
            position absolute
            width 16px
            height 16px
            background #6AA3D7
            bottom 4px
            right 4px
            border-radius 50%

          &:after
            content ''
            position absolute
            width 16px
            height 16px
            background #6AA3D7
            top 4px
            left 4px
            border-radius 50%

          @keyframes loading {
            0% {
              transform translate3d(-50%, -50%, 0) rotate(0)
            }
            100% {
              transform translate3d(-50%, -50%, 0) rotate(360deg)
            }
          }

        > p
          position absolute
          transform translateY(-50%)
          width 100%
          top 50%
          margin 0
          padding 0 4em
          box-sizing border-box
          color #525252
          text-align center
          font-weight bold

      > h1
        font-size 140%

      > input
        position relative
        display inline-block
        vertical-align middle
        width 100%
        margin 2.5em 0

        &#name, &#exp_date, &#postal_code
          width 48%
          margin-bottom .5em

        &#name
          width 100%

        &#cvv, &#postal_code
          margin-left 4%

        &#card_number
          width 68%
          margin-top .5em
          margin-bottom .5em

        &#cvv
          width 28%
          margin-top .5em
          margin-bottom .5em
          text-align center

        &#exp_date, &#postal_code
          margin-top .5em
          margin-bottom 2.5em

      > button
        position relative
        width 100%

      > p
        margin-top 1.5em
        color #808687
        text-align left
        font-size 70%
        letter-spacing .5px
        font-weight 300

        > span
          color black
          text-decoration underline
          font-weight 300



  &.mobile
    position relative
    transform translateY(0)
    width 100%
    height auto
    margin 0
    padding 0
    box-sizing border-box
    top 0

    > #layout

      > #form
        width 100%
        padding 5% 5% 4em

        > h1
          margin-bottom 0
          color #525252
