#DashboardMenu
  position fixed
  transform translateY(-50%)
  width 25%
  height auto
  top 50%

  > #layout

    > #menu
      position relative
      width 80%
      margin 0 auto
      padding 10%
      box-sizing border-box
      background rgba(0,0,0,.4)
      border-radius 8px

      > .element
        position relative
        width 100%
        margin-bottom 1em
        padding 1em
        box-sizing border-box
        border-radius 8px
        background white
        text-align center
        transition .1s

        > #notification
          position absolute
          top 1em
          right 1em
          width 26px
          height 26px
          border-radius 50%
          background #EF8884
          text-align center
          transition .2s

          &.hidden
            transform scale(0)
            transition .3s

          > p
            margin 0
            font-size 70%
            font-weight bold
            line-height 26px
            color white

        &.inactive
          opacity .3
          pointer-events none
          cursor default

        &:before
          content ''
          position absolute
          left 8px
          top 0
          bottom 0
          width 0
          background white
          transition .3s

        &.active:before
          left -120px
          width 128px
          transition .3s

        &:not(.active):hover
          transform scale(1.05)
          transition .1s

        &:not(.active):active
          transform scale(1)
          transition .1s

        &:last-of-type
          margin-bottom 0

        > #icon
          position relative
          display inline-block
          width 72px
          height 72px
          background url('/img/icons/new_request.png') center/contain no-repeat

        > h2
          position relative
          width 100%
          margin .5em 0
          color #6AA3D7
          font-size 90%
          font-weight bold
          text-transform uppercase

        &#all_requests

          > #icon
            background-image url('/img/icons/all_requests.png')

        &#my_membership
          padding .5em
          border-radius 16px

          &:before
            content ''
            position absolute
            left 0
            top 0
            bottom 0
            width 0
            background transparent
            transition none

          &.active:before
            left 0
            width 0
            transition .3s

          &.active

            > h2
              color #525252

          > #icon
            width 44px
            height 44px

          > h2
            margin .5em 0
            font-size 80%

          &.silver

            > #icon
              background-image url('/img/icons/silver_coin.png')

          &.gold

            > #icon
              background-image url('/img/icons/gold_coin.png')

          &.black

            > #icon
              background-image url('/img/icons/diamond.png')

          &.canceled

            > #icon
              background-image url('/img/icons/canceled_membership.png')
