@import 'typographic'



#SelectMembership
  position relative
  width 100%
  height auto

  &.transparent
    opacity .1
    pointer-events none

  > #layout
    perspective 500px

    > #plans
      position relative
      width 70%
      margin 0 auto

      > .plan
        position relative
        display inline-block
        vertical-align middle
        width 100%
        height 170px
        background url('/img/pictures/gold_membership_wide.png') bottom/contain no-repeat
        transition .1s

        &:not(.active):hover
          transform translateY(-5px)
          transition .1s

        &:not(.active):active
          transform translateY(0) scale(.98)
          transition .1s

        &:first-of-type
          // margin-right 16%
          margin 0

        &#gold
          background-image url('/img/pictures/gold_membership_wide.png')

        &#silver.promo
          background-image url('/img/pictures/silver_membership_promo.png')

      > #hidden_preloaded_promo
        position absolute
        z-index -999
        visibility hidden
        pointer-events none
        width 42%
        height 180px
        background-image url('/img/pictures/silver_membership_promo.png')

    > #active_plan
      position relative
      width 70%
      margin 0 auto
      background white
      // margin-top 9px
      margin-top 0
      padding 2% 4%
      // box-shadow inset 0 0 0 3px #E9ECED, 0 -4px 1em rgba(0,0,0,0.05)
      border solid 4px #5BA3DB
      border-top 0
      box-sizing border-box
      border-radius 0
      padding-top 0
      text-align center

      &.gold
        // box-shadow inset 0 0 0 5px #deb252, 0 -4px 1em rgba(0,0,0,0.05)

      &.transparent
        opacity .1

      &:before, &:after
        content ''
        position absolute
        transform translate3d(-50%, -30%, 0)
        top 0
        left 0
        width 72px
        height 72px
        background url('/img/icons/gold_coin.png') center/contain no-repeat
        background-color #ffffff

      &:after
        transform translate3d(50%, -30%, 0) scale(-1, 1)
        left unset
        right 0

      // > #arrow
      //   position absolute
      //   transform translateX(-50%)
      //   top -7px
      //   left 50%
      //   width 0
      //   height 0
      //   border-style solid
      //   border-width 0 12px 12px 12px
      //   border-color transparent transparent white transparent
      //
      //   &.gold
      //     left 50%
      //
      //   &.silver
      //     left 79%

      > h3
        margin 0 0 0
        font-size 160%
        font-weight bold
        color #5BA3DB

      > h2
        margin .3em 0 .5em
        font-size 180%
        font-weight bold
        color #5BA3DB

        > span
          font-size 70%
          color #5BA3DB

      > .element
        position relative
        display inline-block
        vertical-align middle
        width 50%
        text-align left

        // > *
        //   position relative
        //   display inline-block
        //   vertical-align middle

        > #icon
          float left
          margin-right .5em
          width 43px
          height 43px
          background url('/img/icons/cruise.png') center/contain no-repeat

        > h2
          // width calc(100% - .5em - 86px)
          margin 0
          font-size 70%
          line-height 23px
          text-transform uppercase
          text-align left

        > p
          // width calc(100% - .5em - 86px)
          margin 0
          font-family $futura
          font-size 70%
          line-height 20px
          color #4E4F50
          font-weight bold
          text-align left

          > span
            font-size 120%
            font-family $futura
            color #4A97D3
            font-weight bold

        &#ski

          > p

            > span
              color #EF8884

          > #icon
            background-image url('/img/icons/ski.png')

      > #limit
        display inline-block
        vertical-align middle
        margin 12px 0
        padding 3px 12px
        box-sizing border-box
        border 1px solid #3ca5e0
        border-radius 6px
        font-size 80%
        text-align center
        font-weight bold
        color #525252

        > span
          font-size 110%
          color #4A97D3
          font-weight bold

          &.gold
            color #DFB966

          &.silver
            color #A7A7A7

        &.silver
          width 49%

      > #promo
        display inline-block
        vertical-align middle
        width 49%
        margin 12px 0 0 2%

        > input
          width 100%
          padding-top 11px
          padding-bottom 10px
          border-color #EF8884 !important
          color #6AA4D6 !important
          font-size 80%
          font-weight bold
          text-transform uppercase
          text-align center
          transition .2s

          &::placeholder
            color #6AA4D6 !important
            opacity .6

          &.error
            animation error_input .2s 2

            @keyframes error_input {
              0% {
                transform translateX(0)
              }
              30% {
                transform translateX(3%)
              }
              70% {
                transform translateX(-3%)
              }
              100% {
                transform translateX(0)
              }
            }

          &.success
            border-color #83C59D !important

        > p
          margin 0
          padding-top 12px
          padding-bottom 12px
          font-size 80%
          text-decoration underline
          // text-transform uppercase
          // font-weight bold
          opacity .7
          letter-spacing .3px
          cursor pointer



  &.mobile

    > #layout

      > #plans
        width 100%

        > .plan
          width 48%
          height 120px

          &#gold
            margin-right 4%

      > #active_plan
        width 100%
        padding 1em 4%

        > #arrow

          &.gold
            left 24%

          &.silver
            left 76%

        > .element
          min-width 58%
          margin .5em 0
          text-align center

          > #icon
            width 36px
            height 36px

          > h2
            line-height 20px

          > p
            line-height 16px
