@import 'typographic'



#TermsOfService
  position relative
  width 100%
  height 100%

  > #layout
    padding 5% 7.5%
    box-sizing border-box
    background white

    > #header
      position relative
      width 100%

      > #logo
        width 210px

        > img
          width 100%

    > #content
      position relative
      margin 5% 0
      padding 2em
      background #DEE2E3
      height 65vh
      overflow-y auto

      > h2
        margin-top 0

      > p, & li, a
        font-family $helvetica
        font-weight 400
        font-size 90%
        letter-spacing .5px

        > span
          font-weight bold

        > b
          font-family $futura
          font-size 120%
          font-weight bold

      > a
        cursor pointer !important

    > #footer
      position relative
      width 100%
      height 5%
      text-align center

      > p
        font-size 70%
        font-weight normal
        letter-spacing .5px



  &.mobile

    > #layout
      height 100% !important
      padding 5% 0

      > #header
        position relative
        width 100%
        margin-bottom 1.5em

        > #back
          position absolute
          top 0
          left 2.5%
          width 20%
          font-size 80%
          text-transform uppercase
          font-weight bold
          letter-spacing .3px
          opacity .6

        > #logo
          width 50%
          height 5%
          margin 0 auto

          > img
            width 100%

      > #content
        height 77%
        box-sizing border-box

      > #footer
        height 8%
        text-align center

        p:not(:last-child)
          display inline-block
          vertical-align middle
          text-decoration underline

        p:first-child
          margin-right 1em

        p:nth-child(1)
          text-decoration none

        p:last-child
          margin-top 0

        p
          font-size 70%
          font-weight normal
          letter-spacing .5px
          color #525252
