#Right
  position absolute
  z-index 0
  display inline-block
  vertical-align middle
  width 0
  height 100vh

  > #layout

    h1
      margin 0
      color white !important

    *
      color white

    > #footer
      position fixed
      width 50%
      bottom 4em
      text-align center
      font-size 80%

      > p
        display inline-block
        vertical-align middle
        margin 0 1em
        color white
        text-decoration underline
        font-weight 300

        &.active
          text-decoration none
          cursor default

  @media (orientation: portrait)
    display block
    width 100%
    height auto

    > #layout
      min-height 400px



  &.dashboard
    width 25%

    > #layout

      > #header
        position fixed
        width 25%

        > #email
          position relative
          margin 1em 0 .5em
          text-align center
          font-size 100%
          font-weight bold
          color white

        > #log_out
          position relative
          margin 0
          font-size 70%
          text-align center
          color white
          text-decoration underline
          font-weight 400
          opacity .6

      > #footer
        width 25%
        bottom 2em
        font-size 70%

        > p
          position relative
          display inline-block
          vertical-align middle

          &#copyright
            display block
            width 100%
            margin-top 1em
            text-decoration none

  &.admin
    width 20%

    > #layout

      > #header
        position fixed
        width 20%
        padding 2% 4%
        box-sizing border-box

        > #logo
          width 100%
          margin 0 auto 5px

          > img
            width 100%

        > h2
          width 100%
          margin 0
          text-align right
          font-size 100%
          color #A3A9B0
          font-weight bold
          text-transform uppercase

      > #footer
        width 20%

        > #log_out
          position relative
          margin 0
          text-align center
          color white
          text-decoration underline
          font-weight 400
          opacity .6
