#EmailForm
  position fixed
  transform translateY(-50%)
  width 50%
  height auto
  top 50%

  > #layout
    perspective 500px

    *.transparent
      pointer-events none
      opacity .1

    > #form
      position relative
      width 76%
      margin 0 auto
      padding 7%
      border-radius 8px
      box-sizing border-box
      background rgba(0,0,0,.4)

      > #response
        position absolute
        z-index 3
        width 100%
        height 100%
        top 0
        left 0

        > #loading
          position absolute
          width 56px
          height 56px
          top 50%
          left 50%
          background none !important
          transition .2s
          animation loading 1s infinite

          &:before
            content ''
            position absolute
            width 16px
            height 16px
            background #6AA3D7
            bottom 4px
            right 4px
            border-radius 50%

          &:after
            content ''
            position absolute
            width 16px
            height 16px
            background #6AA3D7
            top 4px
            left 4px
            border-radius 50%

          @keyframes loading {
            0% {
              transform translate3d(-50%, -50%, 0) rotate(0)
            }
            100% {
              transform translate3d(-50%, -50%, 0) rotate(360deg)
            }
          }

        > p
          position absolute
          transform translateY(-50%)
          width 100%
          top 50%
          margin 0
          padding 0 4em
          box-sizing border-box
          color white
          text-align center

      > h1
        font-size 140%

      > #input
        position relative
        width 100%
        margin 2.5em 0 1.5em

        > input
          width 100%

        > #error
          position relative
          width 100%
          font-size 80%
          bottom -6px
          margin 0
          padding-left 3%
          box-sizing border-box
          opacity 1
          color #EF8884
          text-align left
          transition .1s

          &.hidden
            bottom -12px
            opacity 0
            transition .1s

      > button
        position relative
        width 100%

      > p
        margin-top 2em
        color white
        text-align center
        font-size 80%
        letter-spacing 1px
        font-weight 300

        > span
          color #4BA4F8
          text-decoration underline
          font-weight 300

      > #socials
        width 100%
        margin 2em 0 1em
        text-align center

        > #or
          position relative
          width 100%
          margin-bottom 1.5em

          > p
            text-transform uppercase
            font-size 85%
            text-align center
            line-height 16px
            color white

          > .line
            position absolute
            width 25%
            top 8px
            background #ffffff
            height 1px

            &#left
              left 0

            &#right
              right 0

        > .socials
          position relative
          display inline-block
          vertical-align middle
          width 49%
          border-radius 6px
          padding 13px 16px
          box-sizing border-box
          transition .1s

          &:hover
            transform scale(0.95)
            transition .1s

          &:active
            transform scale(0.95)
            transition .1s

          > #icon
            position absolute
            left 16px
            width 20px
            height 20px

          > p
            position relative
            width 100%
            margin 0
            text-align center
            font-weight bold
            color white
            letter-spacing .3px

          &#google
            margin-right 2%
            background #CB563C

            > #icon
              background url('/img/icons/google.png') center/contain no-repeat

          &#facebook
            background #41549B

            > #icon
              background url('/img/icons/facebook.png') center/contain no-repeat



  &.mobile
    position relative
    transform translateY(0)
    width 112%
    height auto
    margin 0 0 0 -6%
    padding 3em 5%
    box-sizing border-box
    top 0
    background-color #081D3A

    > #video_bg
      position absolute
      height 100%
      top 0
      left 0
      overflow hidden

      > div
        position relative !important
        height 100% !important

    > #layout

      > #form
        width 100%
        padding 5%

        > h1
          color white

        > p
          margin 2em 0

        > #socials
          margin-top .2em

          > .socials

            &:hover
              transform scale(1)

            &:active
              transform scale(.9)

            > #icon
              width 16px
              height 16px

            > p
              line-height 16px
