#Left
  position relative
  z-index 1
  display inline-block
  vertical-align middle
  width 70%
  margin 0 15%
  height auto

  > #layout
    min-height 100vh

    h1
      margin 0

    *
      color #525252

  @media (orientation: portrait)
    display block
    width 100%
    height auto

    > #layout
      min-height auto

  &.dashboard
    width 75%
    margin 0

    > #layout
      background white

  &.admin
    width 80%
    margin 0

    > #layout
      background white
