@import 'typographic'



#ModalAdminRequest
  position fixed
  width 100%
  height 100%

  > #layout
    height auto
    padding 32px 32px 0
    box-sizing border-box

    > #header
      position absolute
      z-index 2
      width calc(100% - 64px)
      background white

      > *
        position relative
        display inline-block
        vertical-align middle

      > #icon
        width 64px
        height 64px
        margin-right 1em
        background url('/img/icons/cruise.png') center/contain no-repeat

        &.ski
          background-image url('/img/icons/ski.png')

      > h2
        margin 0
        font-size 120%
        text-transform uppercase

    > #content
      position relative
      width 100%
      height calc(100% - 86px)
      margin 86px 0 0
      overflow-y auto

      > #user_details
        position relative
        width 100%
        margin 1.5em 0 4em
        padding 0 5%
        box-sizing border-box

        > *
          position relative
          display inline-block
          vertical-align top

        > #screenshot
          width 37.5%
          height 180px
          margin-right 5%
          background white
          box-shadow 0 0 1.5em rgba(0, 0, 0, .05)
          border-radius 8px
          overflow hidden

          &.no_image
            opacity .6

          > a > img
            position absolute
            transform translate3d(-50%, -50%, 0)
            top 50%
            left 50%
            height 100%

          > #icon
            position absolute
            transform translate3d(-50%, -50%, 0)
            top 50%
            left 50%
            width 64px
            height 64px
            background url('/img/icons/no_image.png') center/contain no-repeat

        > #info
          width 57.5%

          > #supplier
            margin 0
            font-size 110%

          > #price
            font-size 110%
            color #6AA3D7

          > #comment
            white-space pre-line
            font-size 80%
            letter-spacing .3px

      > #form
        position relative
        width 100%
        margin 2em 0
        padding 0 10%
        box-sizing border-box

        > #layout
          text-align center

          > input
            position relative
            display inline-block
            vertical-align middle
            width 32%
            text-align center
            font-weight bold

          > #cashback
            position relative
            display inline-block
            vertical-align middle
            width 32%
            margin 0 2%
            text-align center

            > #limit
              position absolute
              width 100%
              top -26px
              text-align center

              > *
                position relative
                display inline-block
                vertical-align middle

              > #icon
                width 20px
                height 20px
                margin-right 6px
                background url('/img/icons/silver_coin.png') center/contain no-repeat

              > p
                margin 0
                font-size 80%
                line-height 20px
                letter-spacing .2px
                color #A7A7A7

                > span
                  font-weight bold
                  letter-spacing .2px
                  color #8E8E8E

            > input
              width 100%
              text-align center
              font-weight bold

          > textarea
            position relative
            width 100%
            margin 1.1em 0

          > button
            margin 1.5em 0

      > #payment_method, & > #cashback_method
        position relative
        width 100%
        margin 2em 0 4em
        padding 0 10%
        box-sizing border-box
        text-align center

        > h2
          font-size 110%
          text-align left

        > #card, & > #account, & > #address
          position relative
          width 100%
          margin 2em 0
          padding 3em
          box-sizing border-box
          background white
          box-shadow 0 0 1.5em rgba(0, 0, 0, .05)
          border-radius 8px

          > #icon
            width 86px

            > img
              width 100%

          > #number, & > #account, & > #address
            position relative
            width 100%
            margin 2em 0

            > h1
              position relative
              display inline-block
              vertical-align middle
              width 25%
              color #6AA3D7
              text-align center

          > #left, & > #right, & > #bleft, & > #bright
            position relative
            display inline-block
            vertical-align middle

            > #label
              margin 0
              opacity .6
              font-size 80%
              font-weight 400
              letter-spacing 1px

            > #value
              margin .3em 0 0
              color #6AA3D7
              text-transform uppercase

          > #left, & > #bleft
            width 70%
            text-align left

          > #right, & > #bright
            width 30%
            text-align right

          > #bleft, & > #bright
            width 50%
            margin-top 1em

        > #account

          > #recipient
            position absolute
            right 3em
            top 3em
            padding 6px 16px
            box-sizing border-box
            border-radius 8px
            background #525252

            > p
              font-size 70%
              font-weight bold
              text-transform uppercase
              color white

          > #account

            > h1
              width 100%
              letter-spacing 5px

        > #address

          > #account

            > h1
              width 100%
              font-size 160%


      > button
        margin 1.5em auto
