@import 'typographic'



#Landing
  position relative
  width 100%
  height 100%

  > #header
    position relative
    width 100%
    padding 3em 5% 1.5em 5%
    box-sizing border-box

    > #logo
      width 35%
      margin 0 auto

      > img
        width 100%

    > h3
      margin .5em auto 0
      text-align center
      font-size 100%
      color white !important

  > #form
    position relative
    width 100%
    margin 2em 0 3em

    > #list, & > #right
      position relative
      display inline-block
      vertical-align middle
      width 48%

    > #list
      margin-right 4%

      > h2
        width 100%
        font-size 130%
        text-align left
        color white !important

        &:last-of-type
          font-size 100%

      > p
        width 100%
        text-align left
        font-size 85%
        color #88C5FD !important

        &#sure
          opacity 1
          font-size 100%
          color #7DAACA !important
          font-weight bold

      > .element
        position relative
        width 100%
        height auto
        left 0
        margin 1em 0
        padding 1em 0
        box-sizing border-box
        text-align left
        transition .1s

        &:hover
          transform scale(1.02)
          transition .1s

        > *
          position relative
          display inline-block
          vertical-align middle

        > .icon
          width 40px
          height 40px
          margin-right 1em
          background url('/img/icons/one.png') center/contain no-repeat

        > div
          width calc(100% - 1em - 40px)
          text-align left
          padding-right 40px
          box-sizing border-box

          > h2
            margin 0 0 .5em
            font-size 100%
            color white

          > p
            margin 0
            font-size 85%
            font-weight 300
            letter-spacing .5px
            color white

        &#two > .icon
          background-image url('/img/icons/two.png')

        &#three > .icon
          background-image url('/img/icons/three.png')

    > #right

      > #EmailForm, & > #SignIn, & > #CreatePasswordForm
        position relative
        transform none
        width 100%
        top 0

        > #layout

          > #form
            width 100%
            margin 0
            padding 10%

            > h1
              color white
              text-align center
              margin-bottom 2em

      > #CreatePasswordForm

        > #layout

          > #form

            > h1
              margin-bottom .5em

  > #layout
    padding 3em 10%
    box-sizing border-box
    background white
    border-radius 10px

    > #announcement
      position relative
      width 100%
      height 72px

      > #title
        position relative

        > h1
          font-size 125%
          color #57a5d4
          font-weight 800


      > #badge
        position absolute
        right -125px
        top -60px
        height 180px
        width 520px
        background url('/img/pictures/ship.png') center/contain no-repeat

    > #products
      position relative
      width 100%

      > h2
        margin 0 0 1em
        font-size 100%
        font-weight border-left

      > .info
        position absolute
        display inline-block
        vertical-align middle
        width 56%
        margin 5em 0 0 4%

        > p
          text-align justify
          letter-spacing .2px
          font-size 105%
          line-height 140%

      > .product
        position relative
        display inline-block
        vertical-align middle
        width 42%
        height auto
        padding 1.5em 1.5em
        box-sizing border-box
        border-radius 8px
        background white
        box-shadow 0 0 1.6em rgba(0, 0, 0, .08)
        transition .1s

        &:hover
          transform scale(1.04)
          transition .1s

        > #header
          position relative
          width 100%

          > *
            position relative
            display inline-block
            vertical-align middle

          > #icon
            margin-right 1em
            width 52px
            height 52px
            background url('/img/icons/cruise.png') center/contain no-repeat

          > h2
            width calc(100% - 1em - 86px)
            margin 0
            font-size 90%
            text-transform uppercase
            font-weight 800

        > #list
          position relative
          width 100%
          margin 2em 0 4em

          > .item
            position relative
            width 100%
            margin .7em 0

            > *
              position relative
              display inline-block
              vertical-align middle

            > #title
              width auto
              max-width 60%
              margin 0
              font-size 80%
              font-weight 300

            > #icon
              width auto
              height 18px
              margin 0

              > img
                height 100%

            > #percentage
              margin 0
              float right
              font-family $futura
              font-weight bold

        > button
          position absolute
          left 0
          bottom 0
          width 100%
          border-radius 0 0 8px 8px

        &#cruise

          > #header

            > #icon
              background-image url('/img/icons/cruise.png')

          #percentage
            color #58A5D4

        &:last-of-type
          margin-left 7%

          > #new
            position absolute
            left 0
            top 0
            width 80px
            height 40px
            background url('/img/pictures/new.png') left top/contain no-repeat

    > #annotation
      position relative
      margin 4em 0

      > #box
        margin-left 50px
        padding 1em
        border 1px solid #1C94CF
        border-left none
        border-radius 8px

        > *
          display inline-block
          vertical-align middle

        > #badge
          position absolute
          width 100px
          height 100px
          top 50%
          left 0
          transform translateY(-50%) rotate(-16deg)
          background url('/img/pictures/badge.png') center/contain no-repeat
          border-radius 50%

        > h3
          margin 0
          padding-left 50px
          color #1C94CF
          font-size 105%
          font-weight bold
          letter-spacing .1px
          text-transform uppercase

          > p
            display inline-block
            margin 0 0 0 4px
            color #1C94CF
            font-size 120%
            cursor pointer
            transition .1s

            &:hover, &.active
              transform scale(1.4)
              color #EDC460
              transition .1s

            &:not(.active):active
              transform scale(1)
              transition .1s

        > #additional
          position absolute
          z-index 3
          transform translateX(0) translateY(-50%) scale(1)
          opacity 1
          width 60%
          top 135%
          left 12.5%
          padding 1em 1.5em
          border-radius 16px
          text-align center
          background #6AA4D6
          box-shadow 0 0 1em rgba(0, 0, 0, .3)
          transition .1s

          &.hidden
            transform translateX(0) translateY(-40%) scale(.8)
            opacity 0
            pointer-events none
            transition .1s

          &:after
            content ''
            position absolute
            width 0
            height 0
            top -11px
            left calc(64% - 12px)
            border-style solid
            border-width 0 12px 12px 12px
            border-color transparent transparent #6aa4d6 transparent

          > p
            margin 0
            font-size 80%
            letter-spacing .3px
            color white

    > #things
      position relative
      margin 1em 0

      > .thing
        position relative
        display block
        width 100%
        margin 3em 0
        text-align center
        border-right 2px solid #4692CA
        transition .2s

        &:hover
          transform scale(1.02)
          transition .2s

        &:last-of-type

          & > img
            width 64px

        & > h1

          &#number
            display inline-block
            vertical-align middle
            margin-right 1em
            text-align center
            opacity .6

        & > img
          display inline-block
          vertical-align middle
          width 72px
          // border-radius 50%
          // box-shadow 0 .5em 1em rgba(0,0,0,.1)

        & > #text
          display inline-block
          vertical-align middle
          width 70%
          margin-left 2em

          & > h3

            &#title
              margin 0
              font-size 1.1em
              text-align left
              letter-spacing .2px
              color #4692CA
              font-weight bold

          & > p

            &#description
              margin 1em 0 0
              text-align left
              font-size .9em
              letter-spacing .3px

  > #footer
    position relative
    width 100%
    padding 2em 0
    box-sizing border-box
    text-align center

    > p
      display inline-block
      vertical-align middle
      margin 0 1em
      color white !important
      font-size 70%
      text-decoration underline
      font-weight 300

      &.active
        text-decoration none
        cursor default

    > p:last-child
      display block
      margin-top .5em
      font-weight normal
      letter-spacing .5px
      text-decoration none
